extends layout
block content
  h1=title

  h2 Interactive API Documentation
  a(href = '/kapost_v1') Try the Interactive Browser

  h2 Authentication
  p The Kapost API requires the use of a user account. On your edit profile page in Kapost, there is an API Token section that contains the authentication token credential you need to authenticate when using the API. All actions taken by the API will appear to originate from this user account.

  p The Kapost API utilizes HTTP Basic Authentication. Using standard basic auth scheme, put the token string into the username field and "x" (or any value) for the password field. The password field is ignored.

  h2 URL Structure
  p <span style="color: rgb(57, 197, 57);">https://</span><span style="color: goldenrod;">your_instance</span><span style="color: #999;">.kapost.com/</span><span style="color: brown;">api/v1</span><span style="color: #999;">/resource/</span>

  ul
    li <em>SSL</em> is required
    li <em>API Version</em> is the first part of the path

  h2 Response Format
  p All responses are in the json format.
