extends layout
block content
  h1=title

  a(href = '/') &lt; Back to API Home

  h2 Webhooks

  p A webhook is a user-defined HTTP callback. They are triggered whenever an event of interest takes place in your Kapost application.
  
  h3 How it Works

  p Webhooks allow you to collect information about your content as they happen in real time. Provide a URL and Kapost will perform a POST request to that URL whenever content is created, modified, deleted, or published. To test webhooks, use a helper service such as <a href="http://requestb.in">requestb.in</a> which stores traffic as it happens and allows you to inspect it. Kapost also provides a test button on your webhooks settings page to ensure your server is responding appropriately.

  h3 Security
   
  p You may configure an SSL endpoint which will ensure your information is encrypted as it is transmitted.

  h3 Payload Examples
   
  p The webhook request contains a payload which desribes the event that occurred. Presently, we only issue events based on changing content. Each event contains information about the type of change that occurred, where it occurred, and the entity itself. Here is an example payload:

  <script src="https://gist.github.com/brandonc/6556462.js"></script>

  